 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 
 /* -----------------footer------------------- */

 .footer {
     height: 488px;
 }

 .footer__top {
     height: 478px ;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     padding-top: 100px;
 }

 .footer__item__left {
     width: 40%;
 }

 .footer__item__left img {
     margin-bottom: 40px;
 }

 .footer__item__center {
     width: 20%;
     height: 50%;
 }

 .footer__item__center h5 {
     margin-bottom: 20px;
     color: #265BC5;
 }

 .footer__item__center li {
     margin-bottom: 18px;
     list-style: none;
 }

 .footer__item__center ul {
     padding: 0;
 }

 .footer__item__center ul li::before {
     border-radius: 50%;
     content: "\2022";
     color: #EE1F23;
     margin-right: 10px;
 }

 .footer__item__center a {
     color:#000 ;
     text-decoration: none;
 }

 .footer__item__center a:hover {
     color: #EE1F23;
 }

 .footer__item__right {
     width: 25%;
 }

 .footer__item__right h5 {
     color: #265BC5;
     margin-bottom: 15px;
 }

 .input__form input {
     width: 85%;
     height: 48px;
     padding-left: 10px;
     border: 1px solid #CAD3DF;
     background-color:#ECEFF4;
     outline: none;
 }

 .input__form {
     display:flex;
     height: 48px;
     margin-bottom: 10px;
 }

 .input__form button {
     padding:8px 15px;
     border: none;
     background-color: #EE1F23;
     color: #fff;
     outline: none;
     font-size: 20px;
 }

 .footer__logo {
     display: none;
 }

 /* logo__bottom */
 .logo__bottom {
     font-size: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     height: 100px;
     border-top: 1px solid #CAD3DF;
 }

 .logo__bottom a {
     margin: 0 20px;
 }